.drawer {
  display: flex;
  flex-direction: column;
  width: 420px;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  .items {
    flex: 1;
  }
  .items {
    overflow: auto;
    margin-bottom: 40px;
  }
  h2 {
    margin:0;
    font-size: 24px;
  }
}  